# Audio stuff
aubio
pyaudio
mido
python-rtmidi
#madmom
#cython

# Music stuff
music21

# ML stuff
sklearn
tensorflow
numpy
pandas
matplotlib
scipy
sklearn2pmml

# QA stuff
flake8
coverage

# Common stuff
tqdm

# Web stuff
django
tornado
six
